src/xsd/ServiceDefinitions.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://soa.resolvix.com/servicedefinitions/"
        xmlns:tns="http://soa.resolvix.com/servicedefinitions/">
    <xsd:complexType name="RequestHeader">
        <xsd:all>
            <xsd:element name="requestId" type="xsd:string" />
        </xsd:all>
    </xsd:complexType>
    <xsd:complexType name="ResponseHeader">
        <xsd:all>
            <xsd:element name="responseId" type="xsd:string" />
        </xsd:all>
    </xsd:complexType>
</xsd:schema>